@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Playwrite+ZA+Guides&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*, body{
  font-family: "Plus Jakarta Sans", serif;
}

h3 {
  font-family: "Playwrite VN", serif;
}

h1, span, .font-display{
  font-family: "Bricolage Grotesque", serif;
}
.playwrite{
  font-family: "Playwrite ZA Guides", serif;

}

/* Simple marquee animation for announcement bar */
@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.marquee {
  animation: marquee 20s linear infinite;
}
